# =========================
# Java / Maven / Gradle
# =========================
*.class
*.jar
*.war
*.nar
*.ear

target/
build/
out/
.gradle/

# Maven Wrapper
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IDEs
# =========================

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# BlueJ
*.ctxt

# =========================
# Logs
# =========================
*.log
logs/

# JVM crash logs
hs_err_pid*
replay_pid*

# =========================
# Environment / Secrets
# =========================
.env
.env.*
*.pem
*.key
credentials.json
secrets.json

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.swp

# =========================
# Kafka / Spark / Databricks
# =========================
kafka-logs/
spark-warehouse/
metastore_db/

# =========================
# Compressed files
# =========================
*.zip
*.tar.gz
*.rar

# =========================
# J2ME
# =========================
.mtj.tmp/

